<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>Mornings (6am-9am)</th>
			<th>Afternoons (10am-4pm)</th>
			<th>Evenings (6pm-10pm)</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>M</th>
			<td><input type="checkbox"></td>
			<td><input type="checkbox"></td>
			<td><input type="checkbox"></td>
		</tr>
		<tr>
			<th>T</th>
			<td><input type="checkbox"></td>
			<td><input type="checkbox"></td>
			<td><input type="checkbox"></td>
		</tr>
		<tr>
			<th>W</th>
			<td><input type="checkbox"></td>
			<td><input type="checkbox"></td>
			<td><input type="checkbox"></td>
		</tr>
		<tr>
			<th>Th</th>
			<td><input type="checkbox"></td>
			<td><input type="checkbox"></td>
			<td><input type="checkbox"></td>
		</tr>
		<tr>
			<th>F</th>
			<td><input type="checkbox"></td>
			<td><input type="checkbox"></td>
			<td><input type="checkbox"></td>
		</tr>
		<tr>
			<th>S</th>
			<td><input type="checkbox"></td>
			<td><input type="checkbox"></td>
			<td><input type="checkbox"></td>
		</tr>
		<tr>
			<th>Su</th>
			<td><input type="checkbox"></td>
			<td><input type="checkbox"></td>
			<td><input type="checkbox"></td>
		</tr>
	</tbody>
</table>