<div class="sign-up-completed">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <h1>Thanks for applying <%= current_user.first_name %>!</h1>
        <h2>Lightning is not yet available in your area, but it will be soon.</h2>
        <p class="sign-up-completed-estimated-wait-text">Estimated wait: <span class="sign-up-completed-estimated-wait-time">About 3-4 weeks</span></p>
        <p class="sign-up-completed-bottom-text">In the interim, our team will review your application and let you know if we have any questions.</p>
      </div>
      <div class="col-md-2">
        <%= image_tag("splash-marketing/marketing-high-five-gray.png", alt: "San Francisco Bridge") %>
      </div>
    </div>
  </div>
</div>
<%= render partial: "shared/waitlist_share" %>