<form class="search-bar col-md-12" name="search">
	<div class="form-group">
		<label class="col-md-2 control-label" for="query">I want to learn</label> 
		<div class="col-md-8">
			<div class="input-group">
				<input class="search-bar-query form-control" type="text" name="query">
				<span class="input-group-btn">
					<button class="btn btn-primary btn-default" type="button">Learn</button>
				</span>
			</div>
		</div>
	</div>
</form>