<div class="col-md-2 sport unselected" id="<%= class_name %>">
  <h2><%= title %></h2>
  <div class="sport-image"></div>

  <div class="sport-level-selector">
    <button class="btn competitive">Competitive</button>
    <button class="btn casual">Casual</button>
    <button class="btn both">Both</button>
  </div>
</div>