<div class="waitlist-share">
  <div class="container">
    <div class="row waitlist-share-row-1">
      <h2>Don't want to wait 3-4 weeks?</h2>
    </div>

    <div class="row waitlist-share-row-2">
      <h1>Invite your friends to start playing sooner</h1>
    </div>

    <div class="row waitlist-share-button-row">
      <button type="button" class="btn btn-blue">Share on Twitter</button>
      <button type="button" class="btn btn-blue">Share on Facebook</button>
      <button type="button" class="btn btn-blue">Send an email</button>
    </div>
  </div>
</div>