<div class="waitlist-share<%= " gray" if color == :gray %>">
  <div class="container">
    <div class="row waitlist-share-row-1">
      <h2><%= title %></h2>
    </div>

    <div class="row waitlist-share-row-2">
      <h1><%= body || "Invite your friends to start playing sooner" %></h1>
    </div>

    <div class="row waitlist-share-button-row">
      <button type="button" class="btn btn-embossed btn-blue share-twitter"><i class="icon-twitter"></i>Share on Twitter</button>
      <button type="button" class="btn btn-embossed btn-blue share-fb"><i class="icon-facebook-sign"></i>Share on Facebook</button>
      <button type="button" class="btn btn-embossed btn-blue share-email"><i class="icon-envelope"></i>Send an email</button>
    </div>
  </div>
</div>