<div class="event-show">
	<div class="container">
		<div class="row">

			<div class="col-md-6 event-booking">
				<h2 class="reserve-header">Reserve your spot</h2>
				<p class="reserve-details">
					The Lightning experience includes a fully-organized activity, including
					field or court reservation, our exclusive concierge service, hand-picked
					teams, and guaranteed awesomeness*.<br>
					All for $10.
				</p>

				<div class="row">
					<p class="num-spots-text col-md-4">How many spots do you want to book?</p>
					<select class="num-spots col-md-1 input-lg">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>

					<p class="total-cost-text col-md-5 col-md-offset-1">Total cost: <span class="total-cost"> $40</span></p>
				</div>

				<p class="fine-print">
					*We guarantee an absolutely awesome experience.  If you don't have a great
					time, we'll reimburse the fee, no questions asked.
				</p>

				<div class="cc-form">
					<h3>SECURELY SUBMIT PAYMENT</h3>
					<form class="form-horizontal">
						<div class="form-group">
							<label for="cc-name" class="col-md-4 control-label">NAME</label>
							<div class="col-md-5">
								<input type="text" class="form-control" id="cc-name" placeholder="Johnny Thunder">
							</div>
						</div>

						<div class="form-group">
							<label for="cc-number" class="col-md-4 control-label">CARD NUMBER</label>
							<div class="col-md-5">
								<input type="text" size="20" class="form-control" id="cc-number" placeholder="**** **** **** ****">
							</div>
						</div>

						<div class="form-group">
							<label for="cc-cvc" class="col-md-4 control-label">CVC</label>
							<div class="col-md-2">
								<input type="text" size = "4" class="form-control" id="cc-cvc" placeholder="123">
							</div>
						</div>

						<div class="form-group">
							<label for="cc-expiry" class="col-md-4 control-label">EXPIRATION</label>
							<div class="col-md-2">
								<input type="text" class="form-control" id="cc-expiry-month" placeholder="01">
							</div>
							<div class="col-md-2">
								<input type="text" class="form-control" id="cc-expiry-year" placeholder="2013">
							</div>
						</div>

						<div class="form-group">
					    <div class="col-md-12">
					      <button type="submit" class="btn btn-red btn-embossed">Book 4 Spots!</button>
					    </div>
					  </div>
					</form>
				</div>
			</div>

			<div class="col-md-5 col-md-offset-1 event-details">
				<h2>GAME DETAILS</h2>

				<div class="key-value">
					<p class="key">SPORT</p>
					<p class="value">Basketball</p>
				</div>
				<div class="key-value">
					<p class="key">LEVEL OF PLAY</p>
					<p class="value">Competitive</p>
				</div>
				<div class="key-value">
					<p class="key">TIME</p>
					<p class="value">
						Thursday<br>
						October 24th<br>
						10:00am
					</p>
				</div>
				<div class="key-value">
					<p class="key">LOCATION</p>
					<p class="value">
						Ross HS, Indoor<br>
						675 Van Ness<br>
						<a href="https://maps.google.com">Map View</a>
					</p>
				</div>

				<div class="button-row">
					<a class="btn">Learn More</a>
					<a class="btn">View More Activities</a>
				</div>
				
				<p class="spots-left"> 5 spots left!</p>
			</div>

		</div>
	</div>
</div>