<div class="splash-how">
  <div class="container">
    <div class="row splash-how-row-title">
      <h1>How Lightning Works</h1>
    </div>

    <div class="row splash-how-row-text">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1><i class="icon-list-ul"></i> The application process</h1><br>
        <h2>Applying for membership is <b>free</b>.  To apply, simply click the 'Apply' button and give us access to some basic Facebook information.  We use this info to help match you with other players of similar talent and interests.<p></h2>
      </div>
    </div>

    <div class="row splash-how-row-text">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1><i class="icon-money"></i> Costs and fees</h1><br>
        <h2>Applying for membership is entirely free.  Once you're granted access to the club, you only pay when you play.  We organize all the games, including booking courts and fields, and formulating suggested players/teams.<p><p>
          Whenever you'd like to play, it's $10 per person, which covers our matching and organization service.  Whenever possible, we'll also bring Gatorades, water, and beer to make sure you're fully hydrated.  Beyond these services, this fee also helps ensure the other players show up on time.<p>
          Getting friends together to do anything, let alone play basketball, is like herding cats.  With Lightning, you'll never have to stress about it again.  You just show up and play.  It's that awesome.</h2>
      </div>
    </div>

    <div class="row splash-how-row-text">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1><i class="icon-calendar"></i> Booking and playing</h1><br>
        <h2>Every week, we'll organize new activities across your city.  Simply log in, browse the activities, find the ones you'd like to participate in, and click to reserve your spot.  You can also invite friends to come join you.<p><p>
          You can play in as many or as few games as you'd like.  And we'll try to vary the times, so you can find some awesome sports that fit your schedule.<p>
          Every week, we'll also suggest activities that we think would be a good fit for you.  We base these suggestions on your interests, sport preferences, level of play, times of availability, and more.</h2>
      </div>
    </div>

    <div class="row splash-how-row-text">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1><i class="icon-time"></i> Locations and times</h1><br>
        <h2>Every week, we'll mix up the locations and times of Lightning events.  We want to make sure everyone has a chance to play Tuesday night basketball or Sunday morning Whiffle Ball.<p><p>
          As specific events become more popular, we'll start hosting them with increasing consistency.  For instance, if Tuesday basketball in SOMA always instantly sells out, we'll hold that event every week and add more games elsewhere.<p>
          We'll also be reliant on our members, like you, to help us pick future events, times, and locations that work for the club.<br>
          Rest assured, you'll be able to find great sports that are convenient for you.</h2>
      </div>
    </div>

    <div class="row splash-how-row-text">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1><i class="icon-book"></i> Refs and Logistics</h1><br>
        <h2>Lightning is not a sports league, we're a social club.<p><p>
          The sports we help organize are 'pick up' games.  So, teams are not pre-defined.  We will suggest teams, but you're free to change them.<p>
          There will not be any referees at Lightning events.  So, while playing, participants are in charge of keeping their own score and calling their own fouls.  Scouts honor.<p>
          We also won't keep records, statistics, or give out MVP awards.  We hope you're playing for the love of the game, the fun of competition, and the opportunity to meet some sweet new friends.</h2>
      </div>
    </div>

    <div class="row splash-how-row-text">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1><i class="icon-question-sign"></i> Other Questions</h1><br>
        <h2>If you have any other questions, feel free to email us at <%= link_to "hello@joinlightning.com" %>.<p><p>
          You can also <a href="http://en.wikipedia.org/wiki/Lightning" target="_blank">click here</a> to learn more about Lightning.</h2>
      </div>
    </div>
  </div>
</div>