<% @page_title = "Lightning Sports | How It Works" %>
<div class="splash-how">
  <div class="container">
    <div class="how-title">
      <h1>How Lightning Works</h1>
    </div>

    <div class="how-text">
      <h2><i class="icon-list-ul"></i> The application process</h2>
      <p>
        Applying for membership is <strong>free</strong>.  To apply, simply click the 
        'Apply' button and give us access to some basic Facebook information,
        and let us know which sports you'd like to play.  We hate spam as much
        as you do, so <strong>we will never post to your wall</strong>.  
      </p>
      <p>
        We use your Facebook information and sport preferences to offer tailored 
        activity suggestions each week. We want to make sure we set up the games 
        you love with the people you'd like to meet.
      </p>
      <p>
        The application process is entirely free. You'll only pay when you play; 
        we’re confident we'll set up games you'll like to join.
      </p>
    </div>

    <div class="how-text">
      <h2><i class="icon-money"></i> Costs and fees</h2>
      <p>
        The Lightning experience is a fully-organized activity, including 
        field or court reservations, our exclusive concierge service, hand-picked 
        teams, and guaranteed awesomeness. All for $10.
      </p>
      <p>
        Applying for membership is entirely free. Once you're granted access 
        to the club, whenever we organize an activity that interests you, you 
        can reserve spots for $10 per person. This fee also helps ensure that the 
        other participants are serious about playing and show up on time.
      </p>
      <p>
        We guarantee an absolutely awesome experience. So, if you don’t have a 
        great time, we’ll reimburse your fees, no questions asked.
      </p>
    </div>

    <div class="how-text">
      <h2><i class="icon-calendar"></i> Booking and playing</h2>
      <p>
        Every week, we'll organize new activities across your city. Based on 
        your preferences, we will send you an email every week, highlighting 
        the the sports we think you'd love to play. These suggestions are based 
        on your sport and time preferences, and the other players' interests 
        and backgrounds. 
      </p>
      <p>
        To join an activity, simply log in to Lightning, find the events you're
        interested in, and reserve your spot.  You may want to bring a friend 
        or two to the game, so we've made it easy to reserve multiple spots and
        share the event (via facebook, twitter, and email) with anyone you'd like.
      </p>
      <p>
        With Lightning, playing basketball, soccer, or curling is as easy as a
        gym class.  We know schedules change week-to-week, so there are no
        upfront commitments.  You can play in as many or as few games as you'd like.
      </p>
    </div>

    <div class="how-text">
      <h2><i class="icon-time"></i> Locations and times</h2>
      <p>
        When you apply for membership, we’ll ask you to initially set sport and 
        time preferences. This data is very important as it helps us organize 
        events we know you’ll love. For instance, if we have thousands of people 
        asking for basketball on Thursday nights, we’ll be sure to set up many 
        games every week; and conversely, if we only have a few people requesting 
        <a href="http://en.wikipedia.org/wiki/Bocce" target="_blank">bocce</a> 
        on Sunday mornings, we’ll only organize a game or two.
      </p>
      <p>
        If we aren’t offering you activity suggestions that consistently work 
        for your schedule, you can always update your time preferences or send 
        an email to <a href="mailto:hello@joinlightning.com">hello@joinlightning.com</a>. 
      </p>
      <p>
        Your input is incredibly important in making sure we remain awesome. 
        Member demand and requests are the most important factors in determining 
        the activities we organize  - so ask and you shall receive! Don’t be shy!  
      </p>
    </div>

    <div class="how-text">
      <h2><i class="icon-book"></i> Refs and Logistics</h2>
      <p>
        The Lightning experience includes a fully-organized activity, including 
        field or court reservation, our exclusive concierge service, hand-picked 
        teams, and guaranteed awesomeness. We’re handling all the logistics, 
        so you can just show up and play. 
      </p>
      <p>
        All Lightning games are 'pick up' style. So, there are no referees, 
        and players keep their own score and call their own fouls. Additionally, 
        teams are not set in stone - we will offer suggested teams, but you are 
        free to change them and mix things up at any point. 
      </p>
      <p>
        Since there are no set teams and members can play new sports every week, 
        we won’t be keeping win/loss records or any statistics. Our members are 
        playing for the love of the game, the fun of competition, and the 
        opportunity to meet some sweet new people.
      </p>
    </div>

    <div class="how-text">
      <h2><i class="icon-question-sign"></i> Other Questions</h2>
      <p>
        If you have any other questions, feel free to email us at 
        <a href="mailto:hello@joinlightning.com">hello@joinlightning.com</a>.
      </p>
      <p>
        You can also <a href="http://en.wikipedia.org/wiki/Lightning" target="_blank">click here</a> 
        to learn more about Lightning.
      </p>
    </div>
  </div>
</div>