<%= render partial: "shared/search_bar" %>

<h1>Best Courses for <%= @query.capitalize %></h1>

<ul>
	<% @courses.each do |course| %>
		<li><a href="<%= "/courses/#{uri_compliant_name(course[:name])}" %>"><%= course[:name] %></a></li>
	<% end %>
</ul>