// @import "config";

.btn-red {
  background: @red;
  color: @light;
  font-size: 1.5em;
  text-align: center;
  display: block;
  margin: 0px auto 40px;
  padding: 10px 20px;
}

.btn-blue {
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px 20px;
  background: @dark-blue;
  color: @light;
  font-size: @very-small-font;
  font-weight: 200;
}

.footer {
  padding-top: 20px;
  padding-bottom: 30px;

  h2 {
    color: @light-gray;
    font-size: 1.4em;
    font-weight: 300;
  }

  img {
    margin-top: 20px;
  }

  .footer-links {
    margin-top: 20px;
  }

  .footer-link {
    margin-bottom: 8px;
  }

  .footer-logo {
    margin-top: -5px;
  }
}