@import "config";
@import "mixins";

.logo-header(@background-color, @text-color) {
  padding-top: 40px;
  padding-bottom: 20px;
  background: @background-color;

  h1 { 
    text-align: center;
    color: @text-color;
    font-size: @very-big-font;
    font-weight: 200;
  }

  a {
    text-decoration: none;
  }
}

.logo-header-light {
  .logo-header(white, @blue);
  .bordered-bottom;
}

.logo-header-blue{
  .logo-header(@blue, @light);
}

.btn {
  &.btn-embossed {
    .box-shadow(inset 0 -2px 0 fade(black, 15%));
    &.active,
    &:active {
      .box-shadow(inset 0 2px 0 fade(black, 15%));
    }
  }

  &:hover, &:focus {
    color: @light;
  }
}

.btn-red {
  background: @red;
  color: @light;
  font-size: 1.5em;
  text-align: center;
  display: block;
  margin: 0px auto 40px;
  padding: 10px 20px;

  &:hover, &:focus {
    background: darken(@red, 10%);
  }
}

.btn-fb {
  .icon-facebook-sign {
    margin-right: 10px;
  }
}

.btn-blue {
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px 20px;
  background: @dark-blue;
  color: @light;
  font-size: @very-small-font;
  font-weight: 200;

  &:hover, &:focus {
    background: darken(@blue, 10%);
  }
}

.footer {
	.bordered-top;
  padding-top: 20px;
  padding-bottom: 30px;
  background: white;

  h2 {
    color: @light-gray;
    font-size: 1.4em;
    font-weight: 300;
  }

  img {
    margin-top: 20px;
  }

  .footer-links {
    margin-top: 20px;
  }

  .footer-link {
    margin-bottom: 8px;
    a {
      color: @dark-gray;
      font-weight: 400;
    }

    a:hover {
      color: @light-gray;
    }
  }

  .footer-logo {
    margin-top: -5px;
  }
}

.waitlist-share {
  background: @blue;
  text-align: center;

  h1 {
    color: @light;
    font-size: @big-font;
    font-weight: 200;
  }

  h2 {
    color: @light;
    font-size: @medium-font;
    font-weight: 500;
  }

  .waitlist-share-row-1 {
    padding-top: 10px;
  }

  .waitlist-share-row-2 {
    margin-top: -20px;
  }

  .waitlist-share-button-row {
    margin-top: 20px;
    padding-bottom: 40px;

    button i {
      margin-right: 10px;
    }
  }
}