@import "config";
@import "mixins";

.splash-how {
  background: @light;

  .how-title {
    .make-row();

    h1 {
      margin-top: 30px;
      color: @red;
      text-align: center;
    }
  }

  .how-text {
    .make-md-column-push(2);
    .make-md-column(8);
    padding: 0px 40px;

    h2 {
      .title-font(@dark-gray);
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 40px;
      .description-font(@dark-gray);
    }
  }

  @media screen and (max-width : 650px) {

    .how-title {
      h1 {
        margin-top: 20px;
        margin-bottom: -20px;
      }
    }

    .how-text {
      padding: 0 10px;

      h2 {
        margin-top: 40px;
      }

      p {
        margin-bottom: 20px;
      }
    }
  }
}