@import "config";

.sign-up-select-sports {

  h1 {
    .title-font(@red);
    text-align: center;
  }

  .sign-up-select-sports-instructions {
    margin-bottom: 40px;
  }

  .sign-up-select-sports-sport-row {
    text-align: center;
    margin-bottom: 30px;

    h2 {
      font-size: @very-small-font;
      font-weight: 500;
      color: @blue;
      margin-bottom: 20px;
    }
  }
}