@import "config";

.sign-up-completed {
  background: @light;
  padding-top: 20px;

  h1 {
    .title-font(@red);
  }

  img {
    padding-top: 40px;
    padding-left: 40px;
  }

  .sign-up-completed-top-text {
    .description-font(@red);
    margin-top: 40px;
  }

  .sign-up-completed-estimated-wait-text {
    .description-font(@dark-gray);
    margin-top: 30px;
  }

  .sign-up-completed-estimated-wait-time {
    color: @blue;
    padding-left: 6px;
  }

  .sign-up-completed-bottom-text {
    .description-font(@dark-gray);
    margin-bottom: 40px;
  }
}