// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

// blue: #0085D6
// green: #08C0AD
// dark: #242D32
// light: #F9F7F6
// red: #FF6950

body {
  padding-top: 0px;
  background: #F9F7F6;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;
}

img {
  display: block;
  margin: 0 auto;
}

.splash {

	h1 { 
		text-align: center;
    color: #0085D6;
    font-size: 3em;
    font-weight: 200;
	}

  .membership-button {
    text-align: center;
    display: block;
    margin: 0px auto 40px;
    padding: 10px 20px;
  }

  .btn-red {
    background: #FF6950;
    color: #F9F7F6;
    font-size: 1.5em;
  }

  .splash-logo {
    margin-top: 40px;
    margin-bottom: 40px;
    background: #F9F7F6;
    
    .affix {
      position: fixed;
      width: 100%;
      top: 0;
    }
  }

  .header-container {
    width: 100%;
  }

  .splash-header {
    background: #0085D6;

    h1 {
      color: #F9F7F6;
      font-size: 2.5em;
    }

    .sport-icon-container {
      margin: 0px 5% 0px 5%;
      text-align: center;
    }

    .sport-icon {
      text-align: center;
      display: inline-block;
      margin: 50px 3%;
    }

  }

  .splash-body {
    text-align: left;

    h2 {
      text-align: center;
      color: #0085D6;
      font-weight: 200;
      font-size: 2em;
    }

    h1 {
      font-size: 2.1em;
      text-align: left;
      font-weight: 400;
    }

    h3 {
      font-size: 1.5em;
      font-weight: 200;
    }

    img {
      display: table-cell;
      vertical-align: middle;
    }

    .body-image {
      display: table-cell;
      vertical-align: middle;
      margin: auto auto;
      padding-top: 20px;
    }

    .body-bullet {
      padding: 17px;
    }

    .membership-button {
      margin-top: 70px;
    }

    .high-five {
      margin-top: 40px;
    }

  }

  .splash-share {
    background: #0085D6;
    text-align: center;


    h1 {
      color: #F9F7F6;
      font-size: 2.2em;
      font-weight: 200;
    }

    h2 {
      color: #F9F7F6;
      font-size: 1.8em;
      font-weight: 500;
    }

    .invite-friends {
      margin-top: -20px;
    }

    .share-button-row {
      margin-top: 20px;
      padding-bottom: 40px;
    }

    .share-button {
      margin-right: 10px;
      margin-left: 10px;
      padding: 5px 20px;
      background: #3C689F;
      color: #F9F7F6;
      font-size: 1.2em;
      font-weight: 200;
    }
  }

  .lightning-footer {
    padding-top: 40px;
    padding-bottom: 40px;

    h2 {
      color: #C8C8C8;
      font-size: 1.4em;
      font-weight: 300;
    }

    h3 {
      color: #C8C8C8;
      font-size: 1.2em;
      font-weight: 500;
    }

    img {
      margin-top: 20px;
    }
  }

}