// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

.home {
	width: 800px;
	margin: 200px auto;
	// background: red;

	h1 { 
		text-align: center;
		// background: blue; 
	}
}